# This is Git's per-user configuration file.
[user]
 	name = podhmo
 	email = ababjam61+github@gmail.com

[color]
    ui = auto

[alias]
    br = branch
    ba = branch -a
    bm = branch --merged
    bn = branch --no-merged
    ca = commit -a
    ci = commit
    co = checkout
    di = diff
    dis = diff --cached
    fix = commit --amend
    log-graph = log --graph --date=short --pretty=format:'%Cgreen%h%Creset %cd %Cblue%cn %Creset%s'
    ls = ls-files
    sh = stash
    st = status
    sub = submodule
    glog = log --graph --decorate --oneline

[branch "develop"]
   remote = origin
   merge = origin/develop
   rebase = true
[push]
	default = simple